.post-title {
    text-transform: uppercase;
    border-bottom: 1px lightgray solid;
}
.post-article {
    line-height: 1.5em;
    border-bottom: 1px lightgray solid;
    margin: 0 20px 20px 20px;
    
    font-size: 18px;
}
.post-buttons {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;   
}
.pre-nav {
    display: block;
    margin-bottom: 7px;
    color: lightgray;
}
.pre-nav a {
    text-transform: uppercase;
    text-decoration: none;
}
.pre-nav a:hover {
    text-decoration: underline;
}
.next-nav {
    text-transform: uppercase;
    display: block;
    color: lightgray;
    margin-bottom: 5px;
}
.next-nav a {
    text-decoration: none;
}
.next-nav a:hover {
    text-decoration: underline;
}

@media all and (min-width:1024px) {
    .post-article{
        margin-left:20%;
        margin-right:20%;
    }
    .post-title{
        margin-left:20%;
        margin-right:20%;
    }
}